{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Disco Paradise</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-800 flex flex-col">
    <!-- Profile Information Section -->
    <div class="px-3 mb-4">
        <div class="flex rounded-md items-center bg-red-600 py-2 px-4 w-fit">
            <h1 id="nama-refalino-shahzada-ghassanai" class="text-white text-center">Nama: Refalino Shahzada Ghassanai</h1>
        </div>
        <h5 id="kelas-pbp-c" class="text-gray-300">Kelas: PBP C</h5>
    </div>

    <!-- Album Info Display -->
    <div class="p-2 mb-6 relative">
        <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
            {% include "card_info.html" with title='Nama' value=name %}
            {% include "card_info.html" with title='NPM' value=npm %}
            {% include "card_info.html" with title='Kelas' value=kelas %}
        </div>

        <div class="w-full px-6 absolute top-[44px] left-0 z-20 hidden md:flex">
            <div class="w-full min-h-4 bg-red-600"></div>
        </div>

        <div class="h-full w-full py-6 absolute top-0 left-0 z-20 md:hidden flex">
            <div class="h-full min-w-4 bg-red-600 mx-auto"></div>
        </div>
    </div>

    <!-- Last Login Section -->
    <div class="px-3 mb-4">
        <div class="flex rounded-md items-center bg-red-600 py-2 px-4 w-fit">
            <h1 id="last-login-last_login" class="text-white text-center">Last Login: {{last_login}}</h1>
        </div>
    </div>

    <!-- Add New Album Button -->
    <div class="flex justify-end mb-6">
        <a href="{% url 'main:create_album_entry' %}" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Add New Album Entry
        </a>
    </div>

    <!-- Album List Section -->
    {% if album_entries %}
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
        <!-- Album Card Display -->
        {% for album_entry in album_entries %}
            {% include "card_album.html" with album_entry=album_entry %}
        {% endfor %}
    </div>
    {% else %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4">
        <p class="text-gray-300">Belum ada data album pada Disco Paradise.</p>
    </div>
    {% endif %}

    <!-- Logout Section -->
    <div class="flex justify-end mt-6">
        <a href="{% url 'main:logout' %}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out">
            Logout
        </a>
    </div>
</div>

{% endblock content %}
